<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>This is the register page</h1>
<form method="POST">
    {% csrf_token %}
    <table>
        {% for field in form %}
        <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
            <td>{{ field.errors }}</td>
        </tr>
        {% endfor %}

    </table>
    <input type="submit" value="Register">
</form>
<a href="{% url 'login' %}">Already have account?</a>
</body>
</html>
